<header class="header">
    <nav class="nav">
        <div class="logo">
            <img src="/TecnoChiller-site/assets/img/logo-tecno.png" alt="tecnochiller">
        </div>

        <div class="menu-toggle">☰</div>

        <ul class="nav-links">
            <li><a href="/TecnoChiller-site/index.html">Home</a></li>
            <li><a href="/TecnoChiller-site/pages/servicos.html">Serviços</a></li>
            <li><a href="/TecnoChiller-site/pages/contato.html">Contato</a></li>
        </ul>
    </nav>
</header>